In [ ]:
hoboken = {}

In [ ]:
print(hoboken)

{}

In [ ]:
hoboken["adrian" ] = ["barry", "chelsea", "dana"]
hoboken["barry"  ] = ["adrian"] # , "ethan"]
hoboken["chelsea"] = ["adrian", "heather"]
hoboken["dana"   ] = ["adrian", "fiona"]
hoboken["ethan"  ] = ["barry", "ian"]
hoboken["ian"    ] = ["ethan", "gladys"]
hoboken["fiona"  ] = ["dana", "gladys"]
hoboken["gladys" ] = ["ian", "fiona"]
hoboken["heather"] = ["chelsea"]

In [ ]:
hoboken

{'adrian': ['barry', 'chelsea', 'dana'],
 'barry': ['adrian', 'ethan'],
 'chelsea': ['adrian', 'heather'],
 'dana': ['adrian', 'fiona'],
 'ethan': ['barry', 'ian'],
 'ian': ['ethan', 'gladys'],
 'fiona': ['dana', 'gladys'],
 'gladys': ['ian', 'fiona'],
 'heather': ['chelsea']}

In [ ]:
print(hoboken,"\n-------")

{'adrian': ['barry', 'chelsea', 'dana'], 'barry': ['adrian', 'ethan'], 'chelsea': ['adrian', 'heather'], 'dana': ['adrian', 'fiona'], 'ethan': ['barry', 'ian'], 'ian': ['ethan', 'gladys'], 'fiona': ['dana', 'gladys'], 'gladys': ['ian', 'fiona'], 'heather': ['chelsea']}
-------

In [ ]:
def fun(paths, target, graph):
    # [['A']]   'I'     {'A' : ['B', 'D'], ...} or by name (hoboken)
    if paths == []:
        return paths
    else:
        newPaths = [] 
        for path in paths:
            frontier = path[-1]
            for neighbor in hoboken[frontier]:
                if neighbor not in path:
                    newPaths.append(path + [neighbor])
        print(newPaths)

In [ ]:
a = fun([["adrian"]], "ian", hoboken)
print(a)

[['adrian', 'barry'], ['adrian', 'chelsea'], ['adrian', 'dana']]
None

In [ ]:
a = fun([['adrian', 'barry'], ['adrian', 'chelsea'], ['adrian', 'dana']], "ian", hoboken)

[['adrian', 'barry', 'ethan'], ['adrian', 'chelsea', 'heather'], ['adrian', 'dana', 'fiona']]

In [ ]:
def fun(paths, target, graph):
    if paths == []:
        return paths
    else:
        for path in paths:
            if path[-1] == target:
                return("The answer is: ", path)
        newPaths = [] 
        for path in paths:
            frontier = path[-1]
            for neighbor in hoboken[frontier]:
                if neighbor not in path:
                    newPaths.append(path + [neighbor])
        print("Moving ahead: ", newPaths)
        return fun(newPaths, target, graph)

In [ ]:
a = fun([["adrian"]], "ian", hoboken)
print(a)

Moving ahead:  [['adrian', 'barry'], ['adrian', 'chelsea'], ['adrian', 'dana']]
Moving ahead:  [['adrian', 'chelsea', 'heather'], ['adrian', 'dana', 'fiona']]
Moving ahead:  [['adrian', 'dana', 'fiona', 'gladys']]
Moving ahead:  [['adrian', 'dana', 'fiona', 'gladys', 'ian']]
('The answer is: ', ['adrian', 'dana', 'fiona', 'gladys', 'ian'])

In [27]:
class Empty:
  def __init__(self):
    pass
  def insert(self, value):
    return LinkedList(value, self)
  def show(self):
    return " . "
  def delete(self, value):
    return self
  def empty(self):
    return True
  def delete(self, value):
    return self

In [28]:
a = Empty()
print(a.show())

 .

In [30]:
# A LinkedList is one of:
#     - Empty() 
#     - LinkedList(value, LinkedList)

class LinkedList:
  def __init__(self, value, next):
    self.value = value
    self.next = next
  def show(self):
    return str(self.value) + " " + self.next.show()
  def empty(self):
    return False
  def insert(self, value):
    if self.empty():
      return LinkedList(value, self)
    elif value < self.value:
      return LinkedList(value, self)
    else: 
      self.next = self.next.insert(value)
      return self
  def delete(self, value):
    if self.value == value:
      return self.next
    else: 
      if self.value < value:
        self.next = self.next.delete(value)
      return self

In [31]:
b = LinkedList(3, LinkedList(5, LinkedList(1, Empty())))
print(b.show())

3 5 1  .

In [36]:
c = Empty()

In [37]:
c = c.insert(4)
print(c.show())

4  .

In [38]:
c = c.insert(1)
c = c.insert(3)
print(c.show())

1 3 4  .

In [39]:
c = c.delete(5)
print(c.show())
c = c.delete(4)
print(c.show())
c = c.delete(1)
print(c.show())
c = c.delete(3)
print(c.show())
c = c.delete(3)
print(c.show())

1 3 4  .
1 3  .
3  .
 .
 .