In [50]:
class Empty:
  def __init__(self):
    pass
  def show(self):
    return " . "
  def delete(self, value):
    return self
  def empty(self):
    return True
  def insert(self, value):
    return LinkedList(value, self)
  def find(self, value):
    return False
  def length(self):
    return 0

In [51]:
a = Empty()
print(a.find(2))

False

In [52]:
print(a.show())

 .

In [53]:
class LinkedList:
  def __init__(self, value, next):
    self.value = value
    self.next = next
  def show(self):
    return str(self.value) + " " + self.next.show()
  def insert(self, value):
    if value <= self.value:
      return LinkedList(value, self)
    else:
      self.next = self.next.insert(value)
      return self
  def find(self, value):
    if value == self.value:
      return True
    else:
      return self.next.find(value)
  def delete(self, value):
    if not self.find(value):
      return self
    else:
      if value == self.value:
        return self.next
      else:
        self.next = self.next.delete(value)
        return self
  def empty(self):
    return False
  def length(self):
    return 1 + self.next.length()

b = Empty()  
b = b.insert(3)
print(b.show())
print(b.find(3))
print(b.find(5))

3  .
True
False

In [54]:
print(b.show())
print(b.length())

3  .
1

In [55]:
b = b.delete(5) 
print(b.show())

3  .

In [56]:
b.empty()

False

In [57]:
b = b.insert(1)
b = b.insert(4)
b = b.insert(2)
print(b.show())

1 2 3 4  .

In [71]:
c = LinkedList(3, Empty())
d = LinkedList(3, c)
d = LinkedList(2, d)

In [72]:
print(d.show())

2 3 3  .

In [73]:
d = d.insert(7)

In [74]:
print(d.show())

2 3 3 7  .

In [75]:
times = d.length()
elem = d.value
for i in range(times+2):
  if d.empty():
    pass
  else:
    elem = d.value
  print("I am trying to delete ", elem)
  d = d.delete(elem)
  print(d.show())

I am trying to delete  2
3 3 7  .
I am trying to delete  3
3 7  .
I am trying to delete  3
7  .
I am trying to delete  7
 .
I am trying to delete  7
 .
I am trying to delete  7
 .